<template>
  <section>
    <h2>faq</h2>
    <ul>
      <faqItem v-for="item in faq" v-bind:key="item.title" :item="item"></faqItem>
    </ul>
  </section>

</template>

<script>
export default {
  name: "faqView",
  data(){
    return {
      faq:[
        {
          title:'Как мне получить свой приз?',
          content:'<p>Призы “Фитнес ежедневник” и “Книга рецептов” будут отправлены на электронную почту, указанную при покупке марафона. Если выпадет средство LETIQUE, то мы отправим его вам вместе с основным подарком к марафону. </p><p>При выигрыше главных призов связь с участником будет производиться по телефону, указанному при регистрации и заполнении анкеты.</p>',
        },
        {
          title:'Сколько раз можно запускать Шар фортуны?',
          content:'<p>Вы можете запускать повторно Шар фортуны. Для этого вам нужно приобрести продление доступа к марафону за 990р. или дополнительный контент с тренировками на пресс за 990р. Количество продлений не ограничено</p>',
        },
        {
          title:'Могут ли повторяться призы?',
          content:'<p>Да, в случае если вы запускаете шар 2 раза повтор призов возможен.</p>',
        },
        {
          title:'Что делать, если мне не пришел приз на почту?',
          content:'<p>Если вам не пришел приз, в первую очередь мы рекомендуем проверить папку “Спам”. Если приз все же не пришел вам на почту, а также при возникновении других вопросов по розыгрышу “Шар фортуны”, обращайтесь на почту <a href="mailto:info@lerchek.ru">info@lerchek.ru</a></p>',
        },
        {
          title:'Могу ли я заменить приз?',
          content:'<p>Призы обмену не подлежат, денежный эквивалент приза не предоставляется.</p><p>Аккаунты, поучаствовавшие в розыгрыше, не могут отменить участие в марафоне и вернуть средства.</p>',
        },
        {
          title:'Куда обращаться, если у меня проблемы с Шаром Фортуны?',
          content:'<p>Напишите нам на почту поддержки <a href="mailto:info@lerchek.ru">info@lerchek.ru</a> и мы решим Ваш вопрос!</p>'
        }
      ],
    }
  },
  components:{
    faqItem:()=>import('@/components/faqItem')
  }
}
</script>

<style scoped>
h2{text-transform: uppercase;font-size: 8.8vw;}
/deep/ li{border-bottom: 1px solid rgba(196, 196, 196, 0.2);padding:5.4vw 0 9.4vw;}
/deep/ li div.item{display: flex;align-items: center;justify-content: space-between;cursor: pointer}
/deep/ li div.item p{font-size: 4.7vw;width: calc(100% - 10vw);}
/deep/ li div.item img{width: 5.2vw;height: 5.2vw;transition: all 0.3s ease-out;transform: rotate(0deg)}
/deep/ li div.item img.active{transform: rotate(45deg)}
/deep/ li div.content{height: 0;overflow: hidden;position: relative;transition: height 0.3s ease-out}
/deep/ li div.content p{padding: 1vw 0;}

@media screen and (min-width: 760px){
  h2{margin: 0;font-size: 3.9vw;}
  section{display: flex;align-items: flex-start;justify-content: space-between;padding: 5vw 0;}
  section h2,ul{width: 50%;}
  /deep/ li{padding:1.5vw;}

  /deep/ li div.item p{font-size: 1.4vw;width: calc(100% - 5vw)}
  /deep/ li div.item img{width: 1.7vw;height: 1.7vw;}
  /deep/ li div.content p{padding: 0.5vw 0;}

}
</style>