<template>
  <li>
    <div class=item v-on:click="toggle">
      <p>{{item.title}}</p>
      <img src="@/assets/faqPlus.svg" alt="" v-bind:class="{active:contentVisible}">
    </div>
    <div class=content ref="cntwrap">
      <div v-html="item.content" ref="cnt"></div>
    </div>
  </li>
</template>

<script>
export default {
  name: "faqItem",
  data(){
    return {
      contentVisible:false,
    }
  },
  props:{
    item:{
      type:Object,
      default:function () {
        return { title:'',content:''}
      },
    }
  },
  methods:{
    toggle(){
      this.contentVisible = !this.contentVisible;

      this.$refs.cntwrap.style.height = (this.contentVisible) ?
          this.$refs.cnt.clientHeight+'px' : '0px';

    }
  }
}
</script>

<style scoped>
.item p{font-weight: bold;}
.content > div{padding-top: 3vw;}
@media screen and (min-width: 760px){
  .content > div{padding-top: 1vw;}
}
</style>