<template>
  <section>
    <div id=mobileTitle>
      <h1>Шар фортуны</h1>
      <p>Получи гарантированный подарок! &#127873;</p>
    </div>
    <div id=balloons>
      <img src="@/assets/balloons/layer1.png" id="layer1" class="layer">
      <img src="@/assets/balloons/layer2.png" id="layer2" class="layer">
      <div id="shuflleBallons" class="layer">
        <img id="shuflle1" src="@/assets/balloons/0000.png" v-bind:class="{shuffle:shuffle}">
        <img id="shuflle2" src="@/assets/balloons/1365.png" v-bind:class="{shuffle:shuffle}">
        <img id="shuflle3" src="@/assets/balloons/1364.png" v-bind:class="{shuffle:shuffle}">
        <img id="shuflle4" src="@/assets/balloons/1373.png" v-bind:class="{shuffle:shuffle}">
        <img id="shuflle5" src="@/assets/balloons/1365.png" v-bind:class="{shuffle:shuffle}">
        <img id="shuflle6" src="@/assets/balloons/1374.png" v-bind:class="{shuffle:shuffle}">
        <img id="shuflle7" src="@/assets/balloons/1363.png" v-bind:class="{shuffle:shuffle}">
        <img id="shuflle11" src="@/assets/balloons/1364.png" v-bind:class="{shuffle:shuffle}">
        <img id="shuflle12" src="@/assets/balloons/shuffleBall2.png" v-bind:class="{shuffle:shuffle}">
        <img id="shuflle13" src="@/assets/balloons/1364.png" v-bind:class="{shuffle:shuffle}">
        <img id="shuflle14" src="@/assets/balloons/1373.png" v-bind:class="{shuffle:shuffle}">
        <img id="shuflle15" src="@/assets/balloons/1364.png" v-bind:class="{shuffle:shuffle}">
        <img id="shuflle16" src="@/assets/balloons/1374.png" v-bind:class="{shuffle:shuffle}">
        <img id="shuflle17" src="@/assets/balloons/0000.png" v-bind:class="{shuffle:shuffle}">

       <img :src="getImgPizeSmall" class="winnerPath"
            :ref="'result'"
            v-bind:class="{active:winnerAnimantion}">

      </div>
      <img src="@/assets/balloons/layer3.png" id="layer3" class="layer">
      <img src="@/assets/balloons/layer4.png" id="layer4" class="layer">
      <img src="@/assets/balloons/layer5.png" id="layer5" class="layer">
    </div>
    <div id=otherTitle>
      <h1>Шар фортуны</h1>
      <p>Получи гарантированный подарок! &#127873;</p>
    </div>
    <div v-if="success" >
      <div v-if="status=='ready'">
        <div class="wrapWeelStart">
          <button v-on:click="startShuffle" v-if="lottery.data.order.available_wheels > 0 && lottery.data.order.left_time > 0">Запустить</button>
          <div v-else class="smallKostilishe"></div>
          <div v-if="lottery.data.order.available_wheels != undefined">
            <p class="counterWheels">Осталось попыток: {{lottery.data.order.available_wheels}}</p>
            <p class="counterWheels"
               v-if="lottery.data.order.available_wheels > 0">Осталось времени: {{toHHMMSS}}</p>
          </div>
        </div>
        <div class="agrrementWrap" v-if="lottery.data.order.available_wheels > 0 && lottery.data.order.left_time > 0">
          <label for=agreementInput1>
            <div>
              <input type=checkbox v-model=agreement id=agreementInput1>
              <div  v-bind:class={active:agreement}>
                <img src=@/assets/checkbox.svg>
              </div>
            </div>
            <span>Нажимая кнопку "Запустить", я даю свое согласие с <a href="/doc/RulesoftheSharofFortunepromotion.pdf" target="_blank">Условиями акции</a></span>
          </label>
        </div>
      </div>
      <div v-if="status == 'result'" id="resultForPc">
        <div v-if="lottery.data.order.available_wheels > 0">
          <div class="wrapWeelStart">
            <button v-on:click="startShuffle">Запустить еще раз</button>
            <div>
              <p class="counterWheels">Осталось попыток: {{lottery.data.order.available_wheels}}</p>
              <p class="counterWheels" v-if="lottery.data.order.available_wheels > 0">Осталось времени: {{toHHMMSS}}</p>
            </div>
          </div>
          <div class="agrrementWrap">
            <label for=agreementInput2>
              <div>
                <input type=checkbox v-model=agreement id=agreementInput2>
                <div  v-bind:class={active:agreement}>
                  <img src=@/assets/checkbox.svg>
                </div>
              </div>
              <span>Нажимая кнопку "Запустить", я даю свое согласие с <a href="/doc/RulesoftheSharofFortunepromotion.pdf" target="_blank">Условиями акции</a></span>
            </label>
          </div>
        </div>
        <div id="winnersLayout">
          <div id="winnerPlaceLayout">
            <img src="@/assets/balloons/winnerPlace.png" alt="" id="winnerPlace">
            <img :src="getImgPize" id="winnerImg">
          </div>
          <div id="winnerTxt">
            <p>{{resultLottery.data.prize.desc}} <span v-if="resultLottery.data.data != undefined"> {{resultLottery.data.data.name}}</span></p>
            <p>{{resultLottery.data.prize.desc2}}</p>
          </div>
        </div>
      </div>

    </div>
    <div v-else id="successDesc">
      <p>{{successDesc}}, Напишите нам на <a href="mailto:info@lerchek.ru">info@lerchek.ru</a></p>
    </div>

    <shopLink v-if="status=='result' || lottery.data.order.available_wheels == 0"
              :marathon_profile_id="URL.marathon_profile_id"
              :sex="URL.sex"
    ></shopLink>
  </section>
</template>

<script>
/*очень лень подключать vuex, поэтому вся ** в одном месте*/
import axios from 'axios';
  export default {
    name: "frstScrBalloons",
    data(){
      return {
        t:1363,
        agreement:true,
        shuffle:false,
        winnerAnimantion:false,
        success:false,
        successDesc:'',
        status:'ready',
        URL:{},
        lottery:{
          data:{
            order:{
              left_time:0
            }
          }
        },
        resultLottery:{
          data:{
            prize:{
              id:0,
              desc:'',
              desc2:'',
            }
          }
        }
      }
    },
    components:{
      shopLink:()=>import('@/components/shopLink')
    },
    methods:{
      sendCath(sendFrom){
          try {
            let state = {
              URL:this.URL,
              lottery:this.lottery,
              resultLottery:this.resultLottery,
              sendFrom: sendFrom,
              selfLink:document.location.href
            };
            axios.post('https://shar.lerchekfit.ru/api/lottery/error',{
              data:JSON.stringify(state)
            })
              .then((res)=>console.log(res))
              .catch((res)=>console.log(res));
          }catch (e) {
            console.log(e);
          }
      },
      startWinnerAnimation(){
        this.winnerAnimantion = true;
        let self = this;
        setTimeout(()=>{
          self.showPrize();
        },3000);
      },
      showPrize(){
        this.status= 'result';
        this.shuffle = false;
      },
      startShuffle(){
        if (this.agreement){
          this.winnerAnimantion = false;
          this.success = true;
          this.successDesc = '';

          this.status = 'progress';
          axios.post('https://shar.lerchekfit.ru/api/lottery/97/prize',{
            number: this.URL.number,
            phone: this.URL.phone,
          }).then((res)=>{
            if (res.data.success) {
              try {
                res.data.data.data = JSON.parse(res.data.data.data);
              } catch (e) {
                console.log(e);
              }
              this.shuffle = true;
              this.resultLottery = res.data;
              this.lottery.data.order.available_wheels -= 1;
              let self = this;
              setTimeout(()=>{
                self.startWinnerAnimation();
              },3000);
            } else {
              this.shuffle = false;
              this.success = false;
              this.successDesc = 'Сервис временно не доступен';
              this.sendCath('click post then if success');
            }
          }).catch(()=>{
            this.success = false;
            this.successDesc = 'Сервис временно не доступен.';
            this.sendCath('click post cath');
          });
        }else {
          alert('Вы должны дать свое согласие с Условиями акции и Условиями Пользовательского соглашения');
        }
      },
      getUrlVars() {
        let vars = [], hash;
        let hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++) {
          hash = hashes[i].split('=');
          vars.push(hash[0]);
          vars[hash[0]] = hash[1];
        }
      return vars;
      },
      updateTimeEnd(){
        if (this.lottery.data.order.left_time != undefined && this.lottery.data.order.left_time > 0){
          let self = this;
          setTimeout(()=>{
            self.lottery.data.order.left_time -= 1;
            self.updateTimeEnd();
          },1000);
        }
      }
    },
    computed:{
      getImgPizeSmall() {
        let PrizeID = this.resultLottery.data.prize.id;
        if (PrizeID != 1363 && PrizeID != 1364 && PrizeID != 1365 && PrizeID != 1373 && PrizeID != 1374){
          PrizeID = '0000';
        }
        let images = require.context('@/assets/balloons', false, /\.png$/)
        return images('./' + PrizeID + ".png")
      },
      getImgPize() {
        let PrizeID = this.resultLottery.data.prize.id;
        if (PrizeID != 1363 && PrizeID != 1364 && PrizeID != 1365 && PrizeID != 1373 && PrizeID != 1374){
          PrizeID = '0000';
        }
        let images = require.context('@/assets/gift', false, /\.png$/)
        return images('./' + PrizeID + ".png")
      },
      toHHMMSS(){
        if (this.lottery.data != undefined && this.lottery.data.order.left_time != undefined) {
          let sec_num = parseInt(this.lottery.data.order.left_time, 10);
          let hours   = Math.floor(sec_num / 3600);
          let minutes = Math.floor((sec_num - (hours * 3600)) / 60);
          let seconds = sec_num - (hours * 3600) - (minutes * 60);

          if (hours   < 10) {hours   = "0"+hours;}
          if (minutes < 10) {minutes = "0"+minutes;}
          if (seconds < 10) {seconds = "0"+seconds;}
          return hours+':'+minutes+':'+seconds;
        } else {
          return '';
        }

      }
    },
    mounted() {
      this.URL = this.getUrlVars();
      if (this.URL.phone !=undefined && this.URL.number !=undefined) {
        axios.get('https://shar.lerchekfit.ru/api/lottery/97?number='+this.URL.number+'&phone='+this.URL.phone)
            .then((res)=>{
              if(res.data.success) {
                this.success = true;
                this.lottery = res.data;
                this.updateTimeEnd();
              } else {
                this.successDesc = 'Сервис временно не доступен';
                // this.sendCath('mounted get then if success');
              }
            }).catch(()=>{
              this.successDesc = 'Сервис временно не доступен';
              this.sendCath('mounted get catch');
            })
      } else {
        this.successDesc = 'Некорректная ссылка';
        this.sendCath('mounted if url');
      }
    }
  }
</script>

<style scoped>

  button{margin: 6.7vw 0 9.4vw;}
.smallKostilishe{height: 4vw;}
  label{display: flex;align-items: center;justify-content: space-between}
  label > div{width: 22vw;cursor:pointer;}
  label > div > input {opacity: 0;width: 0;height: 0;position: absolute}
  label > div > div
  {pointer-events: none;background:white;border: 1px solid #98C7D2;width: 5vw;height: 5vw;border-radius: 3px;display: flex;align-items: center;justify-content: center}
  label > div > div img{opacity: 0}
  label > div > div.active img{opacity: 1}
  label > span{font-size: 3.6vw}
  label > span > a{text-decoration: none;color:#1EB8D2}

  #mobileTitle{text-align: center;position: relative;z-index: 1;}
  #mobileTitle h1{text-transform: uppercase;font-size: 10.4vw;margin:2vw 0 0}
  #mobileTitle p{font-size: 4.5vw;padding-bottom: 11vw;}
  #otherTitle{display: none;}

  #balloons{width: 100%;height: 78vw;position: relative}
  #balloons .layer{position: absolute}
  #successDesc{text-align: center;color:red;padding: 10vw 0;}
.counterWheels{text-align: center}
.agrrementWrap{padding-top: 2vw;}

  #layer1{width: 89.1vw;height: 85.4vw;left: -11.4vw;top: -10vw;}
  #layer2{width: 61.1vw;height: 61.1vw;left: 11vw;top: -0.5vw;}
  #layer3{width: 61.1vw;height: 61.1vw;left: 11vw;top: -0.5vw;}
  #layer4{width: 101.5vw;height: 76vw;left: -15.7vw;top: 6.2vw;}
  #layer5{width: 32.9vw;height: 30.7vw;left: 57vw;top: 34vw;z-index: 10;}
  #shuflleBallons{width: 61.1vw;height: 61.1vw;left: 11vw;top: -0.5vw;}
  #shuflleBallons > img{position: absolute;width: 8vw;height: 8vw;}
  #shuflle1{top: 73%;left: 13%;}
  #shuflle1.shuffle{animation:1.5s linear 0s infinite shuflle_path1}
  #shuflle2{top: 82%;left: 66%;}
  #shuflle2.shuffle{animation:1.6s linear 0s infinite shuflle_path2}
  #shuflle3{top: 82%;left: 34%;}
  #shuflle3.shuffle{animation:1.7s linear 0s infinite shuflle_path3}
  #shuflle4{top: 83%;left: 44%;}
  #shuflle4.shuffle{animation:1.8s linear 0s infinite shuflle_path4}
  #shuflle5{top: 80%;left: 23%;}
  #shuflle5.shuffle{animation:1.9s linear 0s infinite shuflle_path5}
  #shuflle6{top: 82%;left: 55%;}
  #shuflle6.shuffle{animation:1.4s linear 0s infinite shuflle_path6}
  #shuflle7{top: 76%;left: 72%;}
  #shuflle7.shuffle{animation:2s linear 0s infinite shuflle_path7}

  #shuflle11{top: 74%;left: 59%;}
  #shuflle11.shuffle{animation:2s linear 0s infinite shuflle_path11}
  #shuflle12{top: 73%;left: 39%;}
  #shuflle12.shuffle{animation:1.4s linear 0s infinite shuflle_path12}
  #shuflle13{top: 65%;left: 68%;}
  #shuflle13.shuffle{animation:1.9s linear 0s infinite shuflle_path13}
  #shuflle14{top: 71%;left: 28%;}
  #shuflle14.shuffle{animation:1.3s linear 0s infinite shuflle_path14}
  #shuflle15{top: 67%;left: 20%;}
  #shuflle15.shuffle{animation:1.7s linear 0s infinite shuflle_path15}
  #shuflle16{top: 71%;left: 49%;}
  #shuflle16.shuffle{animation:1.6s linear 0s infinite shuflle_path16}
  #shuflle17{top:63%;left: 57%;}
  #shuflle17.shuffle{animation:1.5s linear 0s infinite shuflle_path17}

  .winnerPath{top:98%;left: 85%;z-index: 1;opacity: 0}
  .winnerPath.active{animation:3s linear 0s  winner_path;opacity: 1}


  #winnersLayout{}
  #winnerPlaceLayout{position: relative;height: 70vw;}
  #winnerPlace{width: 70vw;margin:1vw 0 0 7vw;}
  #winnerTxt{text-align: center}
  /*#winnerTxt span{color:#FC588E;}*/
  #winnerImg{position: absolute;top:calc(50% - 18vw);left: calc(50% - 18vw);width: 36vw;height: 36vw;}

  @keyframes winner_path{
    0%{top:57%;left: 75%;transform: rotate(0deg);opacity: 1;}
    25%{top:57%;left: 104%;}
    30%{top:60%;left: 110%;}
    35%{top: 63%;left: 113%;}
    40%{top:65%;left: 114%;}
    50%{top:69%;left: 115%;transform: rotate(360deg)}
    60%{top: 74%;left: 116%;}
    70%{top: 79%;left: 114%;}
    100%{top:98%;left: 85%;transform: rotate(0deg);opacity: 1;}
  }

  @keyframes shuflle_path1 {
    0% {top: 73%;left: 13%;transform: rotate(0deg)}
    33%{top: 25%;left: 8%;}
    66%{top: 19%;left: 77%;}
    100%{top: 73%;left: 13%;transform: rotate(360deg)}
  }
  @keyframes shuflle_path2 {
    0% {top: 82%;left: 66%;transform: rotate(0deg)}
    33%{top: 50%;left: 1%;}
    66%{top: 1%;left: 50%;}
    100%{top: 82%;left: 66%;transform: rotate(360deg)}
  }
  @keyframes shuflle_path3 {
    0% {top: 82%;left: 34%;transform: rotate(0deg)}
    33%{top: 50%;left: 1%;}
    66%{top: 41%;left: 84%;}
    100%{top: 82%;left: 34%;transform: rotate(360deg)}
  }
  @keyframes shuflle_path4 {
    0% {top: 83%;left: 44%;transform: rotate(0deg)}
    33%{top: 23%;left: 7%;}
    66%{top: 17%;left: 75%;}
    100%{top: 83%;left: 44%;transform: rotate(360deg)}
  }
  @keyframes shuflle_path5 {
    0% {top: 80%;left: 23%;transform: rotate(0deg)}
    33%{top: 15%;left: 75%;}
    66%{top: 7%;left: 21%;}
    100%{top: 80%;left: 23%;transform: rotate(360deg)}
  }
  @keyframes shuflle_path6 {
    0% {top: 82%;left: 55%;transform: rotate(0deg)}
    33%{top: 12%;left: 76%;}
    66%{top: 23%;left: 7%;}
    100%{top: 82%;left: 55%;transform: rotate(360deg)}
  }
  @keyframes shuflle_path7 {
    0% {top: 76%;left: 72%;transform: rotate(0deg)}
    33%{top: 40%;left: 3%;}
    66%{top: 6%;left: 64%;}
    100%{top: 76%;left: 72%;transform: rotate(360deg)}
  }

  @keyframes shuflle_path11 {
    0% {top: 73%;left: 13%;transform: rotate(0deg)}
    33%{top: 19%;left: 77%;}
    66%{top: 25%;left: 8%;}
    100%{top: 73%;left: 13%;transform: rotate(360deg)}
  }
  @keyframes shuflle_path12 {
    0% {top: 82%;left: 66%;transform: rotate(0deg)}
    33%{top: 1%;left: 50%;}
    66%{top: 50%;left: 1%;}
    100%{top: 82%;left: 66%;transform: rotate(360deg)}
  }
  @keyframes shuflle_path13 {
    0% {top: 82%;left: 34%;transform: rotate(0deg)}
    33%{top: 41%;left: 84%;}
    66%{top: 50%;left: 1%;}
    100%{top: 82%;left: 34%;transform: rotate(360deg)}
  }
  @keyframes shuflle_path14 {
    0% {top: 83%;left: 44%;transform: rotate(0deg)}
    33%{top: 17%;left: 75%;}
    66%{top: 23%;left: 7%;}
    100%{top: 83%;left: 44%;transform: rotate(360deg)}
  }
  @keyframes shuflle_path15 {
    0% {top: 80%;left: 23%;transform: rotate(0deg)}
    33%{top: 7%;left: 21%;}
    66%{top: 15%;left: 75%;}
    100%{top: 80%;left: 23%;transform: rotate(360deg)}
  }
  @keyframes shuflle_path16 {
    0% {top: 82%;left: 55%;transform: rotate(0deg)}
    33%{top: 23%;left: 7%;}
    66%{top: 12%;left: 76%;}
    100%{top: 82%;left: 55%;transform: rotate(360deg)}
  }
  @keyframes shuflle_path17 {
    0% {top: 76%;left: 72%;transform: rotate(0deg)}
    33%{top: 6%;left: 64%;}
    66%{top: 40%;left: 3%;}
    100%{top: 76%;left: 72%;transform: rotate(360deg)}
  }
  #resultForPc{display: flex;flex-direction: column-reverse;justify-content: flex-end;}

  @media screen and (min-width: 760px){
    #mobileTitle{display: none;}
    #otherTitle{display: block}
    #otherTitle h1{font-size: 5.2vw;margin:-2vw 0 0}
    #otherTitle p{font-size: 1.7vw;}
    #balloons{height: 50vw;transform: scale(0.7);margin: -7vw 0 -10vw;}

    button{width: 17vw;min-height: 4.6vw;margin: 1.7vw 0 1.4vw;}

    label{justify-content: flex-start}
    label > div{width: 2vw;margin-right: 1vw;}
    label > div > div
    {width: 1.3vw;height: 1.3vw;border-radius: 3px;}
    label > div > div > img{width: 0.8vw;height: 0.8vw}
    label > span{font-size: 0.9vw}

    #winnerTxt{font-size: 1.5vw;}

    #layer1{width: 56.3vw;height: 54vw;left: 9.8vw;top: -3vw;}
    #layer2{width: 38.7vw;height: 38.7vw;left: 24.5vw;top: 0vw;}
    #layer3{width: 38.7vw;height: 38.7vw;left: 24.5vw;top: 0vw;}
    #layer4{width: 75.8vw;height: 53.3vw;left:0.4vw;top: -2vw;}
    #layer5{width: 20.9vw;height: 19.4vw;left:57vw;top: 20vw;}
    #shuflleBallons{width: 38.7vw;height: 38.7vw;left: 24.5vw;top: 0vw;}
    #shuflleBallons > img{width: 5vw;height: 5vw;}
    .winnerPath.active{animation:3s linear 0s  winner_path2;opacity: 1}

    .wrapWeelStart{display: flex;align-items: center;}
    .wrapWeelStart button{margin-right: 2vw;}
    .agrrementWrap{padding: 0;width: 34vw;}

    #resultForPc{display: flex;flex-direction: column-reverse;min-height: 24vw;justify-content: flex-end;}
    #winnersLayout{position: relative;padding: 4vw 0 0;}
    #winnerPlaceLayout{position: absolute;width: 32vw;height: 32vw;top:-7vw;right: 0;}
    #winnerPlace{width: 32vw;margin: 0;position: absolute;top: 0vw;right: 0;}
    #winnerTxt{width: 50vw;text-align: left;}
.winnerPath{top: 95%;left: 89%;}
    #winnerImg{top: calc(50% - 10vw);left: calc(50% - 7vw);width: 16vw;height: 16vw;}

    @keyframes winner_path2{
      0%{top:53%;left: 84%;transform: rotate(0deg);opacity: 1;}
      25%{top:53%;left: 104%;}
      30%{top:56%;left: 119%;}
      35%{top: 59%;left: 122%;}
      40%{top:61%;left: 123%;}
      45%{top:63%;left: 124%;}
      50%{top:65%;left: 124%;transform: rotate(360deg)}
      60%{top: 70%;left: 125%;}
      70%{top: 75%;left: 123%;}
      100%{top:94%;left: 94%;transform: rotate(0deg);opacity: 1;}
    }

  }




</style>
