<template>
  <section>
    <div id=topLine>
      <a href=# id=logo>
        <img src=@/assets/logo.svg >
      </a>
      <a href=https://lerchek-marafon.ru/login id=burger target="_blank">
        <span>личный кабинет</span>
      </a>
    </div>
    <balloons></balloons>
  </section>
</template>

<script>
  export default {
    name: "frstScreen",
    components:{
      balloons:()=>import('@/components/frstScrBalloons')
    }
  }
</script>

<style scoped>
  #topLine{display: flex;align-items: flex-start;justify-content: space-between}
  #logo > img{width: 25.4vw;height:10.2vw;}
  #burger{display: flex;align-items: center;justify-content: space-between;text-decoration: none;color:inherit}
  #burger span{color:white}
  #burger > img{width: 6.4vw;height: 4.3vw;}


  @media screen and (min-width: 760px) {
    #topLine{}
    #logo > img{width: 6.4vw;height:2.5vw;margin-left: -6.4vw;}
    #burger{margin-right: -6.4vw;}
    #burger > img{width: 1.5vw;height: 1vw;}
    #burger span{}


  }
</style>
