<template>
  <ul>
    <li>
      <img src=@/assets/gift/bmw.png>
      <p>BMW 5</p>
    </li>
    <li>
      <img src=@/assets/gift/phone.png>
      <p>iPhone 12</p>
    </li>
    <li>
      <img src=@/assets/gift/watch.png>
      <p>Apple Watch</p>
    </li>
    <li>
      <img src=@/assets/gift/book.png>
      <p>Книга рецептов</p>
    </li>
    <li>
      <img src=@/assets/gift/fitnes.png>
      <p>Фитнес ежедневник</p>
    </li>
    <li>
      <img src=@/assets/gift/means.png>
      <p>Средство Letique</p>
    </li>

<!--    <li>-->
<!--      <img src=@/assets/gift/tracker.png>-->
<!--      <p>Трекеры привычек</p>-->
<!--    </li>-->
  </ul>
</template>

<script>
  export default {
    name: "giftList",
  }
</script>

<style scoped>
ul{display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;padding: 12vw 0 10vw;}
ul li{width: 40vw;min-height: 54vw;text-align: center}
ul li img{width: 35vw;height: 35vw;}
ul li p{margin-top: 4vw;}
@media screen and (min-width: 760px){
  ul{padding: 3.5vw 0 4vw;border-bottom:1px solid rgba(196, 196, 196, 0.2)}
  ul li{width: 21vw;min-height: 26vw;}
  ul li img{width: 17.2vw;height: 17.2vw;}
  ul li p{margin-top: 2.9vw;font-size: 1.5vw;}
}
</style>
