<template>
  <div id="moreFun">
    <h2>ХОТИТЕ ВЫИГРАТЬ ЕЩЕ ПРИЗ?</h2>
    <p>Купите ещё один продукт и поучаствуйте в розыгрыше🎁</p>
    <ul>
      <li>
        <div>
          <img src="@/assets/shopLink.png" alt="">
        </div>
        <div>
          <p>Программа тренировок "Идеальный пресс"</p>
          <a :href="'https://lerchekfit.ru/offer/'+sex" target="_blank">
            <button>Купить 990 <span>a</span></button>
          </a>
        </div>
      </li>
      <li>
        <div>
          <img src="@/assets/shopLink2.png" alt="">
        </div>
        <div>
          <p>Продление доступа к программе тренировок и питания на 1 месяц</p>
          <a :href="'https://lerchekfit.ru/marathon-profile/'+marathon_profile_id+'/prolong'" target="_blank">
            <button>Купить 990 <span>a</span></button>
          </a>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "shopLink",
  props:{
    marathon_profile_id:{
      type:String,
      default:'6',
    },
    sex:{
      type:String,
      default: '17'
    }
  }
}
</script>

<style scoped>
#moreFun{text-align: center;padding-top: 8vw;}
ul{padding: 4vw 0;}
li{margin: 4vw 0;background: white;border-radius:10px;padding: 2.7vw 0 7.5vw;}
li img{width: 37vw;}
li p{width: 75vw;
  margin: 0 auto 4vw;}
li a{width: 66.7vw;display: block;margin: 0 auto;}
li a button{}
li a button span{font-family: 'ALS';}

@media screen and (min-width: 760px){
  #moreFun{padding: 0;}
  #moreFun > p{ font-size: 1.3vw;}
  ul{padding: 2vw 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;}
  li{margin: 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 39.2vw;
    height: 15.7vw;}
  li > div:first-child{width: 13.9vw;}
  li > div:last-child{width: calc(100% - 15vw);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 70%;}
  li img{width: 10.9vw;}
  li p{width: auto;
    margin: 0 auto 1vw;
    padding: 0 1vw 0 0;
    text-align: left;
    font-size: 1.3vw;}
  li a{width: 19.7vw;display: block;margin: 0 auto;}
  li a button{}
  li a button span{font-family: 'ALS';}
}
</style>