<template>
  <div id="app">
    <frstScreen></frstScreen>
    <giftList></giftList>
    <faq></faq>
  </div>
</template>

<script>
export default {
  name: 'App',
  components: {
    frstScreen:()=>import('@/components/frstScreen'),
    giftList: ()=>import('@/components/giftList'),
    faq:()=>import('@/components/faq'),
  }
}
</script>

<style>
  /*font-size
  16px - 4.3vw
  18px - 4.7vw
  20px - 5.4vw
  33px - 8.8vw
  */
  @font-face {font-family: 'GolosTextWebVF';src: url('/font/Golos-Text_VF.woff2') format('woff2'), url('/font/Golos-Text_VF.woff') format('woff');font-weight: normal;font-style: normal;}
  @font-face {
    font-family: 'ALS';
    src:url('/font/package.otf')
  }
  html,body{margin: 0;padding: 0; font-family: 'GolosTextWebVF';font-size: 4.3vw;color:black;}
  body {background: linear-gradient(180deg, #BBB2F1 0%, #FFFFFF 100%)}
  p,ul,li{padding: 0;margin: 0;}
  ul{list-style: none}
  #app{width:89vw;min-height: 100vh;margin:0 auto;padding: 4vw 0;}
  input,button{font-family: 'GolosTextWebVF';font-size: 4.3vw;}
  button{cursor:pointer;background: #FC588E;border: 0px;border-radius: 3vw;color:white;width: 100%;min-height:16vw;padding: 0;font-size: 5.4vw}
  input[type=checkbox]{cursor:pointer;}
  /*font-size
  16px - 2.3vw
  18px - 2.7vw
  20px - 3.4vw
  33px - 6.8vw
  */
  @media screen and (min-width: 760px) {
    html,body{font-size: 1vw;}
    #app{width:82vw;padding: 1.5vw 0;}
    input,button{font-size: 1.2vw;}
    button{border-radius: 1.1vw;min-height: 4.6vw;font-size: 1.2vw}

  }
</style>
